include LICENSE
include README.md
include pyproject.toml
recursive-include rbfmvar *.py
recursive-include tests *.py
recursive-include examples *.py
prune __pycache__
prune *.pyc
prune .git
prune .github
